<!DOCTYPE HTML>
<html>
<head>
        <meta charset="UTF-8">
</head>
<script>
window.onload = function () {
    function getData() {
        $.getJSON("http://localhost:8000/dg1data/", function(angry_data) {
            var angry_dataPoints = [];
            $.each(angry_data, function(key, value){
                angry_dataPoints.push({ x : new Date(value.x), y: value.y});
            });
        $.getJSON("http://localhost:8000/dg1data/", function(disgust_data) {
            var disgust_dataPoints = [];
            $.each(disgust_data, function(key, value){
                disgust_dataPoints.push({ x : new Date(value.x), y: value.y});
            });
        $.getJSON("http://localhost:8000/dg1data/", function(fear_data) {
            var fear_dataPoints = [];
            $.each(fear_data, function(key, value){
                fear_dataPoints.push({ x : new Date(value.x), y: value.y});
            });
        $.getJSON("http://localhost:8000/dg1data/", function(happy_data) {
            var happy_dataPoints = [];
            $.each(happy_data, function(key, value){
                happy_dataPoints.push({ x : new Date(value.x), y: value.y});
            });
        $.getJSON("http://localhost:8000/dg1data/", function(sad_data) {
            var sad_dataPoints = [];
            $.each(sad_data, function(key, value){
                sad_dataPoints.push({ x : new Date(value.x), y: value.y});
            });
        $.getJSON("http://localhost:8000/dg1data/", function(surprise_data) {
            var surprise_dataPoints = [];
            $.each(surprise_data, function(key, value){
                surprise_dataPoints.push({ x : new Date(value.x), y: value.y});
            });
        $.getJSON("http://localhost:8000/dg1data/", function(neutral_data) {
            var neutral_dataPoints = [];
            $.each(neutral_data, function(key, value){
                neutral_dataPoints.push({ x : new Date(value.x), y: value.y});
            });
            var chart = new CanvasJS.Chart("chartContainer", {

                animationEnabled: true,
	            exportEnabled: true,

                title:{
                    text: "최근 일주일 감정 상태"
                },
                axisX: {
                    valueFormatString: "DD MMM,YY"
                },
                axisY: {
                    title: "sentiment",

                },
                legend:{
                    cursor: "pointer",
                    fontSize: 16,
                    itemclick: toggleDataSeries
                },
                toolTip:{
                    shared: true
                },
                data: [{
                    name: "angry",
                    type: "spline",
                    yValueFormatString: "0.00000000",
                    showInLegend: true,
                    dataPoints: angry_dataPoints
                },
                {
                    name: "disgust",
                    type: "spline",
                    yValueFormatString: "0.00000000",
                    showInLegend: true,
                    dataPoints: disgust_dataPoints
                },
                {
                    name: "fear",
                    type: "spline",
                    yValueFormatString: "0.00000000",
                    showInLegend: true,
                    dataPoints: fear_dataPoints
                },
                {
                    name: "happy",
                    type: "spline",
                    yValueFormatString: "0.00000000",
                    showInLegend: true,
                    dataPoints: happy_dataPoints
                },
                {
                    name: "sad",
                    type: "spline",
                    yValueFormatString: "0.00000000",
                    showInLegend: true,
                    dataPoints: sad_dataPoints
                },
                {
                    name: "surprise",
                    type: "spline",
                    yValueFormatString: "0.00000000",
                    showInLegend: true,
                    dataPoints: surprise_dataPoints
                },
                {
                    name: "neutral",
                    type: "spline",
                    yValueFormatString: "0.00000000",
                    showInLegend: true,
                    dataPoints: neutral_dataPoints
                }]
            });
            chart.render();
        });
    }
    setInterval(getData, 2000);
}


function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>