<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
</head>
<style>
    .button {
        text-align: right;
    }
</style>
<body>
    <div class = "button">
        <a href="http://18.169.185.73:3000/"><img src="/static/images/home.png" height="70" width="70"></a>
    </div>
    <div id="chartContainer" style="height: 500px; width: 100%;">
    </div>
    <script type="text/javascript">

window.onload = function () {
    function getData() {
        CanvasJS.addColorSet("sentiColors",
                    [//colorSet Array
                    "#ff0000",
                    "#6600ff",
                    "#000099",
                    "#00FF7F",
                    "#4682B4",
                    "#FFA500",
                    "#FFD700",
                    ]);
        $.getJSON("http://localhost:8000/dg6data/", function(data) {
            var dataPoints = [];
            $.each(data, function(key, value){
                dataPoints.push({ label : value.label, y: value.y});
            });
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            colorSet: "sentiColors",
            dataPointMaxWidth: 80,
            title:{
                fontFamily: "THE개이득",
                text: "아이 현재 감정 상태"
            },
            axisY: {
                fontFamily: "THE개이득",
                title: "Sentiment",
                valueFormatString: "# %",
            },

            data: [{
                type: "column",
                yValueFormatString: "#%",
                showInLegend: true,
                legendMarkerColor: "black",
                legendText: "감정상태",
                dataPoints: dataPoints
            }]
            });
            chart.render();
        });
    }
    setTimeout(getData, 1000);
}


</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
