<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
    <script type="text/javascript">

        window.onload = function () {

            var dataPoints = [];

            var chart = new CanvasJS.Chart("chartContainer",   {

                exportEnabled: true,

                title:{
                    text: "아이 감정 상태"
                },
                 axisX: {
                    valueFormatString: "DD MMM,YY"
                },
                axisY: {
                    title: "sentiment",

                },
                legend:{
                    cursor: "pointer",
                    fontSize: 16,
                },
                toolTip:{
                    shared: true
                },

                data: [  {
                        name: "anger",
                        type: "spline",
                        color: "red",
                        showInLegend: true,
                        dataPoints: dataPoints
                    }
                    ]
                });

            function getData() {
                $.getJSON("http://localhost:8000/dg3data/")
                    .then(function(data) {
                        $.each(data, function(key, value){
                            dataPoints.push({ x : new Date(value.x), y: value.y});
                        });
                        chart.render();
                    })
            };

            function updateLabels(){
              var sum, labels = [], dps = [];
              for(var j = 0; j < chart.options.data[1].dataPoints.length; j++){
                noOfDps = 0;
                sum = 0;
                for(var i = 0; i < chart.options.data.length; i++){
                  if(chart.options.data[i].dataPoints[j].y){
                    noOfDps++;
                  }
                  sum += chart.options.data[i].dataPoints[j].y;
                }
                dps.push({ y: sum/noOfDps })
              }
              chart.options.data.push({ type: "spline", dataPoints: dps})
            }
            updateLabels();
        setTimeout(getData, 2000);
    }

function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>


